# Import CSV files to a postgres database

In [1]:
# import libraries
# conda install psycopg2
# pip install psycopg2

import os
import numpy as np
import pandas as pd
import pymysql

In [2]:
# main

from csv_import_functions import *

# settings
dataset_dir = "datasets"

# db settings
# Database connection details
host = "sql8.freemysqlhosting.net"  # Replace with your MySQL host (e.g., localhost)                 # MySQL default port
user = "sql8745654"  # Replace with your MySQL username
password = "URRrptQqRQ"  # Replace with your MySQL password
dbname = "sql8745654"  # Replace with your database name
port = 3306

# configure environment and create main df
csv_files = csv_files()
csv_files

['data.csv']

In [3]:
configure_dataset_directory(csv_files, dataset_dir)

In [4]:
df = create_df(dataset_dir, csv_files)

data.csv

In [5]:
for k in csv_files:

    # call dataframe
    dataframe = df[k]

    # clean table name
    tbl_name = clean_tbl_name(k)

    # clean column names
    col_str, dataframe.columns = clean_colname(dataframe)

    # upload data to db
    upload_to_db(
        host,
        port,
        dbname,
        user,
        password,
        tbl_name,
        col_str,
        file=k,
        dataframe=dataframe,
        dataframe_columns=dataframe.columns,
    )

Opened MySQL database successfully
Table data was created successfully

OperationalError: (1136, "Column count doesn't match value count at row 1")